@charset "UTF-8";

.container { width: 950px; height: 100%; margin: 0 auto; }


 /* header top */
 .header-top { width: 100%; height: 140px; }
 .header-top .t-top { display: flex; padding-top: 33px; }
 .logo { width: 170px; height: 45px; margin-left: 100px;}
 .logo a>div { width: 150px; height: 45px;
               background: url('../img/bookcube_logo.png') no-repeat;
               background-size: contain; background-position: left;} 
 .search { width: 380px; height: 45px; 
           border-radius: 40px; border: 2px solid #f26532; }
 .search input[type='text'] { width: 300px; height: 40px; 
                               border: none; margin-left: 20px;}   
 .search input[type='search'] { width: 25px; height: 25px;
   border: none; cursor: pointer;
   background: url('../img/search-btn.png') no-repeat center center;}
 .login-menu { display: flex; width: 300px; height: 45px;
               }
 .login-menu li:first-child { height: 40px; margin-left: 20px; 
   padding-top: 30px; 
   background: url('../img/logout.png') no-repeat center center;}
 .login-menu li:last-child { height: 40px; margin-left: 20px;
   padding-top: 30px;
   background: url('../img/my.png') no-repeat center center;}
 .login-menu li a { color: #b4b4b4; font-size: 14px; }
 
 /* 메뉴 공통 */
 .left-m1, .left-m2, .right-m1, .right-m2, .t-bottom, .header-bottom .container{ 
   display: flex; align-items: flex-start; }
 .t-bottom, .header-bottom .container {justify-content: space-between;}
 
 .t-bottom { padding-top: 30px;}
 .left-m1 { width: 320px; text-align: center;}
 .left-m1 li { width: 90px; font-size: 18px; padding-bottom: 5px; 
               font-family: 'pretendard-bold'; font-weight: bold ;
               color: #727272;}
 .left-m1 li:first-child { border-bottom: 4px solid #f26532; color: #f26532;}
 .right-m1 li { font-family: 'pretendard-bold'; color: #727272; 
               font-size: 14px; line-height: 12px; padding-right: 10px;}
 .right-m1 li:last-child { border-left: 1px solid #b4b4b4;
                           padding-left: 10px;  }
 
 
 /* header bottom */
 .header-bottom { width: 100%; height: 45px; 
   border-top: 1.5px solid #e7e7e7; 
   border-bottom: 1.5px solid #e7e7e7; padding-top: 12px;}
 
 .left-m2 { width: 470px;  }
 .all-category, .left-m2:first-child { cursor: pointer;}  
 .left-m2 li { font-family: 'pretendard-bold'; font-weight: bold ;
               color: #929292; margin-right: 15px;}                        
 .right-m2 li { font-family: 'pretendard-bold'; color: #333; font-weight: bold ;
               font-size: 15px; line-height: 12px; padding-right: 15px;}
 .header-bottom .container { position: relative;}
 
 /* 카테고리 모달팝업 */
 #all-category-popup { display: none; position: absolute;
                       width: 100%; height: 100%; 
                       z-index: 9999;}
 .pop { width: 950px; height: 350px; margin: 0 auto;
       background: #fff; border: 2px solid #e67951;
       border-radius: 3px; 
       box-shadow: 1px 1px 10px #a3a3a3; position: relative; }
 .pop div { padding: 30px;}
 .pop div:first-child { height: 120px; border-bottom: 1px solid #dadada;}
 /* .s-menu { display: flex; flex-flow: row ;} */
 .s-menu li { width: 20%; font-size: 14px; color: #333;
              float: left; margin-top: 10px;}
 .pop-title { font-size: 18px; font-weight: bold; color: #e67951;}
 
 #all-category-popup .close{ padding:30px; 
   position: absolute;  right: 10px; top:10px;
 background: url(../img/category-close.png) no-repeat center center;}
 
 /* 푸터 */
/* 공지사항 */
footer { height: auto;}
.notice-wrap { width: 100%; height: 50px; 
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;}
.notice-wrap .container { display: flex; align-items: center;}

.n-title { width: 10%; font-size: 12px; font-weight: bold;}
.n-list { width: 80%; display: flex; 
justify-content: space-between;}
.n-list p, .n-list span { font-size: 13px; color: #a3a3a3;}

/* 고객센터 */
.cs-wrap { height: 150px;}
.cs-wrap .container { display: flex; align-items: center; }
.cs-wrap .container div { height: 100px; margin-right: 20px;}
.cs p { margin-top: 10px;}
.cs p:nth-of-type(1) {font-size: 20px; font-weight: bold;}
.cs p:nth-of-type(2) {font-size: 12px; color: #a3a3a3; letter-spacing: -1px;}
.cs span { width: 50px; font-size: 12px; font-weight: lighter; 
padding: 2px 5px; margin-right: 10px;
border: 1px solid #a3a3a3;}

.service p, .short-cut p{ float: left; width: 60px; height: 60px;  
              font-size: 12px; letter-spacing: -1px;
              margin-right: 10px; padding-top: 50px;}
.service p:nth-child(1) { 
background: url('../img/f-library.svg') no-repeat center 12px;}
.service p:nth-child(2) { 
background: url('../img/f-download.svg') no-repeat center 12px;}
.short-cut p:nth-child(1) { 
background: url('../img/f-coupon.svg') no-repeat center 8px;}
.short-cut p:nth-child(2) { 
background: url('../img/f-remote.svg') no-repeat center 12px;}
.short-cut p:nth-child(3) { 
background: url('../img/f-bookcash.svg') no-repeat center 12px;}
.short-cut p:nth-child(4) { 
background: url('../img/f-mypage.svg') no-repeat center 8px;}


footer .footer-bottom { height: 300px; background-color: #f6f6f6;}
.footer-top, .f-bottom  { display: flex; align-items: center; 
padding-top: 30px;}
.footer-top li { font-size: 12px; line-height: 12px; 
padding:0 15px 0 10px; border-left: 1px solid #929292;}
.footer-top li:nth-child(1) { border :none; }

.f-bottom li { margin-right: 10px; }
.f-bottom li:nth-child(4) { width: 150px; height: 40px; 
border:1px solid #929292; padding: 4px 0; background: #fff;
border-radius: 50px; text-align: center; 
font-size: 14px; line-height: 30px;}

.address { font-size: 12px; color: #929292; 
width: 800px; padding-top: 20px; }
.address ul li { float: left; padding: 0 10px;
line-height: 20px; background: url('../img/lnb-dot.gif') no-repeat center right;  }
.address ul li:last-child { background: none;}
.copy-text { clear: both; font-size: 12px; 
padding-top: 40px; color: #929292; display: flex;
align-items: center;}
