@charset "UTF-8";

.container { width: 950px; height: 100%; margin: 0 auto; }
/* 더보기 */
.more-view  { font-size: 14px; font-weight: 600; 
  padding-right: 35px; color: #727272; 
  background: url('../img/more.png') no-repeat 50px center;}

.main { height: auto; margin-top: 50px; }

 /* header top */
.header-top { width: 100%; height: 140px; }
.header-top .t-top { display: flex; padding-top: 33px; }
.logo { width: 170px; height: 45px; margin-left: 100px;}
.logo a>div { width: 150px; height: 45px;
              background: url('../img/bookcube_logo.png') no-repeat;
              background-size: contain; background-position: left;} 
.search { width: 380px; height: 45px; 
          border-radius: 40px; border: 2px solid #f26532; }
.search input[type='text'] { width: 300px; height: 40px; 
                              border: none; margin-left: 20px;}   
.search input[type='search'] { width: 25px; height: 25px;
  border: none; cursor: pointer;
  background: url('../img/search-btn.png') no-repeat center center;}
.login-menu { display: flex; width: 300px; height: 45px;
              }
.login-menu li:first-child { height: 40px; margin-left: 20px; 
  padding-top: 30px; 
  background: url('../img/logout.png') no-repeat center center;}
.login-menu li:last-child { height: 40px; margin-left: 20px;
  padding-top: 30px;
  background: url('../img/my.png') no-repeat center center;}
.login-menu li a { color: #b4b4b4; font-size: 14px; }

/* 메뉴 공통 */
.left-m1, .left-m2, .right-m1, .right-m2, .t-bottom, .header-bottom .container{ 
  display: flex; align-items: flex-start; }
.t-bottom, .header-bottom .container {justify-content: space-between;}

.t-bottom { padding-top: 30px;}
.left-m1 { width: 320px; text-align: center;}
.left-m1 li { width: 90px; font-size: 18px; padding-bottom: 5px; 
              font-family: 'pretendard-bold'; font-weight: bold ;
              color: #727272;}
.left-m1 li:first-child { border-bottom: 4px solid #f26532; color: #f26532;}
.right-m1 li { font-family: 'pretendard-bold'; color: #727272; 
              font-size: 14px; line-height: 12px; padding-right: 10px;}
.right-m1 li:last-child { border-left: 1px solid #b4b4b4;
                          padding-left: 10px;  }


/* header bottom */
.header-bottom { width: 100%; height: 45px; 
  border-top: 1.5px solid #e7e7e7; padding-top: 12px;}

.left-m2 { width: 470px;  }
.all-category { cursor: pointer;}  
.left-m2 li { font-family: 'pretendard-bold'; font-weight: bold ;
              color: #929292; margin-right: 15px;}                        
.right-m2 li { font-family: 'pretendard-bold'; color: #333; font-weight: bold ;
              font-size: 15px; line-height: 12px; padding-right: 15px;}



/* 오늘의 추천 */
.today-hot { width: 100%; height: 400px; background-color: #f4f4f4;
              border-top: 1px solid #ccc; position: relative;}
.today-hot .container { width: 100%; position: relative; 
                        text-align: center; 
                        overflow: hidden;}
.hot-title { padding-top: 24px;
             font-size: 24px;
             color: #333;
             font-weight: 600;}
.top-slider { width: 3060px; height: auto; 
              position: absolute; top: 60px; left: -1332px; }
.top-slider li { float: left; width: 150px; 
                 margin: 15px;  box-sizing: border-box; }
.today-hot-box img { width: 100%; border-radius: 8px; 
                    border: 1px solid #b4b4b4;
                    box-shadow: 1px 1px 10px #a3a3a3;
                    cursor: pointer;}
.today-hot-box h4 { font-family: '나눔고딕';
                    font-size: 15px; padding-top: 10px;}
.today-hot-box p { padding-top: 10px; font-size: 12px;
                   color: #727272;}
.inner { width: 950px; margin: 0 auto; position: absolute; 
top: 40%; left: 50%; transform: translate(-50%,-50%);}                  
.inner span { position: absolute; top: 0;
              width: 50px; height: 50px; 
              color: #fff;
              background-color: rgba(0, 0, 0, 0.5);
              border-radius: 50%; text-align: center;
              font-size: 35px; 
              line-height: 55px;
              text-align: center;}
.prev { left: 0px; cursor: pointer;}
.next { right: 0px; cursor: pointer;}

/* 퀵메뉴 */
.quick-menu { width:950px; height: 100px;
              margin: 0 auto; border:1px solid #eee; 
              box-shadow: 1px 1px 4px #f4f4f4;
              border-radius: 5px;
              margin-top: 50px;}
.quick-menu ul { height: 100%; display: flex; 
                align-items: center;}
.quick-menu ul li { width: 25%;height: 100%; border-left: 1px solid #eee; }
.quick-menu ul li a { display: flex; 
                      justify-content: center; padding-top: 27px;}
.quick-menu ul li:first-of-type { border-left:none;}

/* 이벤트 */
.eventwrap { height: 170px; position: relative; }

.list-wrap { overflow: hidden;}
.event-list { width: 2568px; height: 125px; margin-top: 10px;}
.event-list li { float: left; width: 296px; height: 132px; 
                 margin-right: 25px; }
.event-title { display: flex; justify-content: space-between;
              align-items: center; }
.event-title h1 { display: inline; font-size: 22px;}
.event span { position: absolute; top: 50%;
              color: #727272;
              text-align: center;
              font-size: 35px; 
              line-height: 55px;
              cursor: pointer; }
.e-prev { left: -40px; }
.e-next { right: -40px; }

/* 카테고리별 베스트 */
.category-best .container { height: 100px; display: flex; 
        align-items: center; justify-content: space-around;
        margin-top: 50px; background-color: #f4f4f4; border-radius: 8px;}
.category-list { display: flex;}
.category-list li { background-color: #fff; padding: 10px 20px;
        background-color: #fff; border-radius: 10px; margin: 5px; }
.category-list li a { padding-right: 20px; font-weight: 600;
        background: url('../img/ct-arrow.jpg') no-repeat right center; }



/* best top7 */
.best-title { text-align: center;}
.best-title h2 { margin-bottom: 10px;}
.best-wrap { display: flex; justify-content: space-between;
margin-top: 20px; }
.best-top7 { width: 282px;  }
.top7-title { height: 50px; display: flex; 
  justify-content: space-between; align-items: center;}
.top7-title h2 { float: left; font-size: 20px; }
.best-list { box-shadow: 2px 2px 10px #b9b9b9; }
.best-list li { height: 125px; border-top: 1px solid #e0e0e0; position: relative;}
.best-list li:nth-of-type(1) { height: 300px;  border: none;}
.best-list li:nth-of-type(1) img {width: 200px;}
.best-list li img { width: 30%; height: auto; float: left; }
.best-list li p {  display: inline-block; 
                  padding-left: 20px;}
.best-list li h4 { width: 60%; display: inline-block;  
                  font-size: 15px; padding-left: 20px;}                  
#top7 p:nth-of-type(1) { color: #e67951; font-size: 25px;
                                font-weight: 600; padding-top: 10px;}
#top7 p:nth-of-type(2) { color: #888888; font-size: 13px;}
.top7>img { margin-left: 35px;}
.top1-box { width: 100%; height: 120px; background-color: rgba(0,0,0,.5);
            position: absolute; bottom: 0; display: flex; padding: 10px;}
.top1-box p { color: #fff; }
.top1-box>p { font-size: 32px; color: #fff; font-weight: 600;
              padding-top: 16px;}
.top1-box .info p:nth-of-type(1) { font-size: 25px; font-weight: 500;
                                   padding-top: 21px; }
.top1-box .info p:nth-of-type(2) { font-size: 15px; }



  /* 신간 */
.newbook-title { display: flex; justify-content: space-between;
                align-items: center; border-bottom: 2px solid #dddddd; 
                padding-bottom: 10px;}
.newbook-wrap { display: flex; flex-flow: row wrap; 
                margin-top: 20px;}
.newbook-wrap li { width: 18%; height: 300px; 
                  margin: 9px; }
.nb-list img {width: 90%; border-radius: 8px; 
              border: 1px solid #b4b4b4;
              box-shadow: 1px 1px 10px #b9b9b9;
              cursor: pointer;}
.nb-list h4 { font-family: '나눔고딕';
              font-size: 15px; padding-top: 10px;}
.nb-list p { padding-top: 10px; font-size: 12px;
             color: #727272;}


 /* 중간 배너 */
.banner .container { height: 130px;
  margin-top: 10px; position: relative;  }
.banner-list { width: 2568px; height: 132px;  overflow: hidden;  }
.banner-list li { float: left; width: 296px; height: 132px;
                  margin-right: 30px; }
.banner span { position: absolute; top: 50px;
                color: #727272;
                text-align: center;
                font-size: 35px; 
                line-height: 55px;
                cursor: pointer; }
.e-prev { left: -40px; }
.e-next { right: -40px; }


/* 조금 외로운 당신에게 권하는 에세이 */
.essay-title { display: flex; justify-content: space-between;
                align-items: center; border-bottom: 2px solid #dddddd; 
                padding-bottom: 10px;}
.essay-title h2 { font-size: 20px;}
.essay-wrap { display: flex; flex-flow: row wrap; 
                margin-top: 20px;}
.essay-wrap li { width: 18%; height: 300px; 
                  margin: 9px; }
.es-list img {width: 90%; border-radius: 8px; 
              border: 1px solid #b4b4b4;
              box-shadow: 1px 1px 10px #b9b9b9;
              cursor: pointer;}
.es-list h4 { font-family: '나눔고딕';
              font-size: 15px; padding-top: 10px;}
.es-list p { padding-top: 10px; font-size: 12px;
              color: #727272;}


  /* 무료 */
.free-title { display: flex; justify-content: space-between;
                align-items: center; border-bottom: 2px solid #dddddd; 
                padding-bottom: 10px;}
.free-title h2 { font-size: 20px;}
.free-wrap { display: flex; flex-flow: row wrap; 
                margin-top: 20px;}
.free-wrap li { width: 18%; height: 300px; 
                  margin: 9px; }
.free-list img {width: 90%; border-radius: 8px; 
              border: 1px solid #b4b4b4;
              box-shadow: 1px 1px 10px #b9b9b9;
              cursor: pointer;}
.free-list h4 { font-family: '나눔고딕';
              font-size: 15px; padding-top: 10px;}
.free-list p { padding-top: 10px; font-size: 12px;
              color: #727272;}
  

/* 테마관 , 브랜드관 */
.hall-title { display: flex; justify-content: space-between;
                    align-items: center;  
                    padding-bottom: 10px;}
.hall-title h2 { font-size: 20px;}
.h-list { display: flex; justify-content: space-around; margin-top: 10px; }
.h-list img { border-radius: 10px;}

.brand-hall .h-list img { border: 1px solid #e7e7e7;}

/* 공지사항 */
.notice-wrap { width: 100%; height: 50px; 
              border-top: 1px solid #e7e7e7;
              border-bottom: 1px solid #e7e7e7;}
.notice-wrap .container { display: flex;}

/* 고객센터 */
.customer-wrap { height: 150px;}


/* 고객센터 */
footer { height: 280px; background-color: #eee;}